!!!
%head
  - title = yield(:page_title)

  %title= "#{title.present? ? title + " ~ " : ""   }sketching with code"
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
  %meta{ name: "google-site-verification", content: "eE2AQzEYsFhGuFm8a2Yuaw2Dc-NTiIfdMWHxjDF_9Zg" }
  = stylesheet_link_tag    "admin", :media => "all" 
  = javascript_include_tag "admin" 
  = csrf_meta_tags 

%body
    
  .liner
    .line_one
      .dark
    .line_two
      .dark
    .line_three
      .dark
    .line_four
      .dark
  %header.nav
    %h1 
      = link_to "sketching with code", root_path
    = render partial: "layouts/navigation"
  .container.body
    .notice= notice
    .alert= alert
    = yield
  %footer.footer
    .liner
      .line_four
        .dark
      .line_three
        .dark
      .line_two
        .dark
      .line_one
        .dark
