!!!
%head
  - title = yield(:page_title)

  %title= "#{title.present? ? title + " ~ " : ""   }witty title"
  = stylesheet_link_tag    "application", :media => "all" 
  = javascript_include_tag "application" 
  = csrf_meta_tags 

%body
    
  .liner
    .line_one
      .dark
    .line_two
      .dark
    .line_three
      .dark
    .line_four
      .dark
  %header.nav
    %h1 
      = link_to "wusher", root_path
    %nav
      %ul
        %li= link_to "~ about me ~", about_me_path
        %li= link_to "~ archives ~", about_me_path
  .container.body
    .notice= notice
    .alert= alert
    = yield
